@page "/"

<PageTitle>Index</PageTitle>

<div class="container text-center">

<Nombre nombre="Apple"/>

<h2 class="p-3">"Think different"</h2>

<img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/56-apple-512.png" alt="">
</div>

